@import "../../mixins.scss";
.footer {
  background-color: var(--black3);
  padding: 50px 0;
  color: white;
  //infotext and social icons are the chidlren of contetnwrapper
  //so they wii apper in a column
  .contentWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .infoText {
    font-size: 12px;
    line-height: 20px;
    opacity: 0.5;
    max-width: 800px;
    margin-bottom: 20px;
    @include md {
      font-size: 14px;
      margin-bottom: 30px;
    }
  }
  .socialIcons {
    //the children of social icons are icons..they will apper in teh row in center
    //due to :    display: flex; align-items: center;  justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    .icon {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: var(--black);
      //to make icons compoent inside the ciricle apper in center
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all ease 0.3s;
      //additional styling when the icon is being hovered
      &:hover {
        box-shadow: 0 0 0.625em var(--pink);
        color: var(--pink);
      }
    }
  }
}
